.container{
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
/* header */
header{
  background-color: #758BFD;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 52px 98px;
}
.headerUl{
  display: flex;
  justify-content: space-between;   /*აქ ვერ გავიგე რაუნდა მექნა :/ */
  /* column-gap: 50px; */
  width: 393px;
}
.headerA{
  font-size: 24px;
  color: #DDEAF8;
}
.active{
  color: #133B3A;
}
.serch{
  width: 222px;
  height: 56px;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;   /*justify-content: flex-end;  - ეს სწორი იქნებოდა ? */
  align-items: center;
  padding-right: 8px;
}
.fa-magnifying-glass{
  font-size: 32px;
  color: #FFFFFF;
}
/* section */
.mainSection{
  width: calc(1244 / 1440 * 100%);
  margin: auto;
  margin-block: 94px 136px;
}
.sectionH2{
  color: #27187F;
  font-size: 32px;
  font-weight: 700;
  padding-block: 0 68px;
}
.sectionArticle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 51px 22px;
}
article{
  background-color: #DDEAF8;
  /* width: 400px; */
  /* height: 333px; */
  padding-inline: 30px;
  padding-top: 33px;
  border-radius: 10px;
}
h4{
  margin-block: 33px;
  font-size: 20px;
  color: #133B3A;
}
/* footer */
footer{
  background-color: #758BFD;
  display: flex;
  padding-inline: 98px;
  padding-top: 75px;
  padding-bottom: 105px;
  justify-content: space-between;
  align-items: center;
}
h5{
font-family: Century Gothic;
font-size: 20px;
font-weight: 400;
color: #FFFFFF;
margin-bottom: 20px;
}
i{
  font-size: 22px;
  color: #FFFFFF;
}
.footer-nav{
  display: flex;
  column-gap: 24px;
}
.section2{
  display: flex;
  column-gap: 11px;
}